.jvectormap-tip,
.jvectormap-tip:hover {
  position: absolute;
  display: none !important;
  border: solid 1px #cdcdcd;
  border-radius: 3px;
  background: #292929;
  color: white;
  font-family: sans-serif, Verdana;
  font-size: smaller;
  padding: 3px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
  display: none !important;
}
